/* styles.css or App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0
}

/* PRODUCT CARD CSS */
.card {
  margin-bottom: 20px; 
  width: 100%; 
}

.card-body {
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.card-title {
  font-size: 1.25rem; 
}

.card-text {
  margin-bottom: 1rem; 
}

.btn-primary {
  margin-top: auto; 
}

/* END OF PRODUCT CSS */

.logo-container {
  background-color: lightblue; 
  padding: 11px 0px 0px 24px;
  z-index: 10;
  margin-bottom: 20px;
}

.logo {
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;

  color: #00c;
}

.logo span {
  color: #fff
}

.img-container {
  top: 0;
  position:absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
}

.presentation-img {
  margin: -150px;
  width: 100vw;
}

.home-body {
  display: flex;
  align-items: center;
  height: 80vh;
  justify-content: center;
}

.home-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  background-color: rgba(100,100,100, .5);
  padding: 50px 100px;
  align-items: center;
}

.home-content label{
  font-family: 'Georgia';
  color: #fefefe;
  font-size: 40px;
  text-shadow: #000 0px 0px 2px;
  padding-bottom: 40px;
}

.home-content span {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #12f;

  text-shadow: #121212 2px 2px ;
}

.shop-btn {
  padding: 12px 40px;
  font-size: 18px;
}
